.DS_Store
*.xpr

# Packages
.venv
*.egg
*.egg-info

# Build directories
target/
publish-docs/
build/
/build-*.log.gz

# Testenvironment
.tox/

# Transifex Client Setting
.tx

# Editors
*~
.*.swp
.bak
